<h1>{{application.id}} {{application.firstName}} {{application.lastName}} - Application Details</h1>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="transactionList">
  <thead>
    <tr>
      <th>Card No.</th>
      <th>Issuer</th>
      <th>Amount</th>
      <th>Trans Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionList">
      <td>{{ transaction.cardNo }}</td>
      <td>{{ transaction.issuer }}</td>
      <td>{{ transaction.amount | currency:'USD'}}</td>
      <td>{{ TransType[transaction.transType ? transaction.transType: 1 ] }}</td>
    </tr>
  </tbody>
</table>
