<h1 id="tableLabel">Application List</h1>

<p *ngIf="!applicationList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="applicationList">
  <thead>
    <tr>
      <th>App Id</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applicationList">
      <td>
        <a routerLink="/detail/{{application.id}}/{{application.firstName}}/{{application.lastName}}">{{ application.id }}</a>
        <!--A SECOND WAY: <span (click)="goto(application)">{{ application.id }}</span>-->
      </td>
      <td>{{ application.firstName }}</td>
      <td>{{ application.lastName}}</td>
    </tr>
  </tbody>
</table>
